@page "/logout"

@inject NavigationManager NavigationManager
@inject MapDataStore MapDataStore
@inject IBindableHubClient HubClient
@inject SessionProvider SessionProvider

@attribute [Authorize]

<h3>You've successfully logged out. Thank you for playing.</h3>

@code {

    [CascadingParameter] HttpContext? HttpContext { get; set; }

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var session = await SessionProvider.SessionAsync;

        if (HttpContext is not { } ctx) return;

        if (ctx.User.Identity is { IsAuthenticated: true })
        {
            await HttpContext.SignOutAsync();

            if (session.IsPlayer)
            {
                await MapDataStore.LogoutTeamMember(session.TeamName);
                await HubClient.BroadcastRunnerLogout();
            } 
            
            SessionProvider.ClearSession();

            NavigationManager.NavigateTo("/login", true);
        }
    }

    #endregion

}
