@page "/access-denied"

<div class="center-col-content">
    <h3 class="page-message">
        You don't have access to this page!
    </h3>
    <p>
        Please try refreshing this page or proceed to the <a href="/login">LOGIN</a> page.
    </p>
</div>