@page "/gameover"

<div class="center-col-content">
    <h3> It's Game Over! </h3>
    <p>
        The game has ended. Thank you for playing! Please go home now, there's nothing to see here anymore.
    </p>
    <img src="icons/favicon.svg" width="60%" alt="- KONQVIST -" class="image-fit" />
</div>

