@page "/gameover"

<div class="center-content">
    <h3> It's Game Over! </h3>
    <p>
        The game has ended. Thank you for playing! Please go home now, there's nothing to see here anymore.
    </p>
</div>

@code {

}
