@page "/voting"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IBindableHubClient HubClient
@inject NavigationManager NavigationManager
@inject SessionProvider SessionProvider

@attribute [Authorize]

<div class="center-content">
    <h3>
        Cast your votes please!
    </h3>
    <p> Sorry folks! Your favorite app developer wasn't able to get this part done in time. But he's sure y'all figure something out.</p>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
