@page "/waitforstart"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IBindableHubClient HubClient
@inject NavigationManager NavigationManager
@inject SessionProvider SessionProvider

@attribute [Authorize]

<div class="center-content">
    <h3> Let the game begin! </h3>
    <p>
        Please wait patiently for the game master to start the game.
    </p>
</div>

@code {

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    #endregion

}
